.main {
    height: 100vh;
    width: 100vw;

}

.sidebar {
    height: 100vh;
    background-color: #000;
    padding-top: 20px;
}

.content { 
    background-color: #8d99ae;
    height: 100vh;
    padding-top: 20px;
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
  }
  
.example-full-width {
    width: 100%;
}

.array .head {
    background: #fff;
    border-radius: 3px;
    font-size: large;
    /* height: 100vh; */
}

.deleteBtn {
    cursor: pointer;
}

.updateBtn {
    cursor: pointer;
}


.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }